<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome Piggies</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="post" action="/piglatinize">
      <p><label for="POST_user_phrase">Enter your phrase:</label>
      <input id="POST_user_phrase" type="text" name="user_phrase">
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
